@font-face {
    font-family: "Roboto";
    src: url("../common/fonts/roboto.ttf");
}

:root {
    --color-fg: #000;
    --color-bg: #fff;

    --fontface-body: "Roboto", sans-serif;
    --fontface-heading: var(--fontface-body);
}

html {
    font-size: 13px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-areas:
        "time time"
        "weather bixi"
        "bus bus";
    gap: 1.3rem 1rem;
}

.time-block {
    grid-area: time;
    text-align: center;
}

.weather-block {
    grid-area: weather;
}

.stm-block {
    grid-area: bus;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bixi-block {
    grid-area: bixi;
}

.time-block__big-time {
    font-size: 3rem;
    margin-bottom: 0.3rem;
    font-weight: 800;
}

.time-block__big-time__ampm {
    font-size: 0.8em;
    font-weight: 600;
}

.weather-block__heading {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-fg);
    color: var(--color-bg);
    padding: 0.1rem;
    margin-bottom: 0.2rem;
}

.widget-weather__current {
    display: grid;
    grid-template-areas:
        "type temp"
        "type feels"
        "type pressure";
    align-items: center;
    gap: 0.3rem;

    .widget-weather__type {
        grid-area: type;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .widget-weather__icon {
        font-size: 3rem;
    }

    .widget-weather__temperature {
        grid-area: temp;
        font-size: 2rem;
        font-weight: bold;
    }

    .widget-weather__feels-like {
        grid-area: feels;
        font-weight: bold;

        .widget-weather__temperature-label {
            font-weight: normal;
        }
    }

    .widget-weather__pressure {
        grid-area: pressure;
    }

    .widget-weather__pressure-num {
        font-weight: bold;
    }
}

.widget-weather__day {
    margin-top: 0.5rem;
    display: grid;
    grid-template-areas:
        "title title"
        "type temp"
        "type feels"
        "precip uv";
    align-items: center;
    gap: 0.3rem 0.7rem;

    .widget-weather__type {
        grid-area: type;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .widget-weather__icon {
        font-size: 2rem;
    }

    .widget-weather__temperature {
        grid-area: temp;
        font-weight: bold;
    }

    .widget-weather__feels-like {
        grid-area: feels;
        font-weight: bold;
        align-self: start;

        .widget-weather__temperature-label {
            font-weight: normal;
        }
    }

    .widget-weather__pop {
        grid-area: precip;
        justify-self: center;

        .widget-weather__pop-label {
            display: none;
        }

        &::after {
            content: "PoP";
        }
    }

    .widget-weather__pop-num {
        font-weight: bold;
    }

    .widget-weather__uv {
        grid-area: uv;
    }

    .widget-weather__uv-num {
        font-weight: bold;
    }

}

.widget-weather__day-label {
    grid-area: title;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-fg);
    color: var(--color-bg);
    padding: 0.1rem;
}

.widget-stm__metros {
    display: flex;
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
    justify-content: center;
}

.widget-stm__metro-line {
    margin-right: 0.5rem;

    &:last-child {
        margin-right: 0;
    }

    &::before {
        display: inline-block;
        font-family: 'Material Symbols Outlined';
        content: "close_small";
        height: 1.5rem;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        background-color: var(--metro-color);
        color: var(--metro-text-color);
        border-radius: 1rem;
    }

    &[data-ok="true"]::before {
        content: "check_small"
    }

    .widget-stm__metro-name {
        display: none;
    }

    .widget-stm__metro-message {
        display: none;
    }
}

.widget-stm__metro-alert-line {
    font-weight: bold;
    display: inline-block;
    background-color: var(--metro-color);
    color: var(--metro-text-color);
    padding: 0.3rem;
    border-radius: 0.3rem;
    vertical-align: bottom;
}

.widget-stm__metro-alert {
    &:not(:first-child) {
        margin-top: 0.3rem;
    }
}

.widget-stm__stops {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.widget-stm__stop {
    margin-bottom: 0.8rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.widget-stm__stop-label {
    font-weight: bold;
    margin-bottom: 0.3rem;
    background: var(--color-fg);
    color: var(--color-bg);
    padding: 0.1rem 0.2rem;

    .widget-stm__stop-code {
        font-size: 0.8em;
        font-weight: normal;

        &::before {
            content: "(";
        }

        &::after {
            content: ")";
        }
    }
}

.widget-stm__stop-alerts {
    list-style: none;
    padding: 0;
}

.widget-stm__stop-alert {
    position: relative;
    padding-left: 1.5rem;

    &::before {
        display: block;
        font-family: 'Material Symbols Outlined';
        content: "info";
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1.2rem;
        line-height: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.widget-stm__buses {
    list-style: none;
    padding: 0;
}

.widget-stm__bus-heading {
    display: block;
    font-weight: bold;
    background-color: var(--bus-color);
    color: var(--bus-text-color);
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin-right: 1rem;
    white-space: nowrap;
}

.widget-stm__bus {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.widget-stm__bus-times {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.widget-stm__bus-time {
    margin-right: 0.8rem;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.widget-stm__bus-time-rel {
    font-size: 0.8em;
}

.widget-bixi__stations {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-bixi__station {
    margin-bottom: 0.8rem;

    &::last-child {
        margin-bottom: 0;
    }
}

.widget-bixi__station-name {
    display: block;
    font-weight: bold;
    background: var(--color-fg);
    color: var(--color-bg);
    padding: 0.1rem 0.2rem;
    margin-bottom: 0.2rem;
}

.widget-bixi__station-counters {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.widget-bixi__count {
    margin-right: 0.6rem;

    &:last-child {
        margin-right: 0;
    }
}

.widget-bixi__count-label {
    display: none;
}

/* MONOCHROME */

.monochrome {
    .widget-stm__metros {
        justify-content: space-evenly;
    }

    .widget-stm__metro-line {
        display: flex;
        flex-direction: row;
        align-items: center;

        &::before {
            background-color: var(--color-fg);
            color: var(--color-bg);
            margin-right: 0.4rem;
        }
    }

    .widget-stm__metro-name {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
    }

    .widget-stm__metro-alert-line,
    .widget-stm__bus-heading {
        background-color: var(--color-bg);
        color: var(--color-fg);
        border: 1px solid var(--color-fg);
        padding: 0.2rem;
    }

    .widget-bixi__count {
        color: var(--color-fg)
    }
}