/* Variable fallbacks */
:root {
    --color-fg: #000;
    --color-bg: #fff;
    --color-accent: var(--color-fg);

    --color-red: #fa4d56;
    --color-orange: #ff832b;
    --color-yellow: #f1c21b;
    --color-green: #42be65;
    --color-blue: #4589ff;
    --color-purple: #a56eff;
    --color-gray: #8d8d8d;

    --fontface-body: sans-serif;
    --fontface-heading: var(--fontface-body);
    --fontface-accent: var(--fontface-body);
}

html,
body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

html {
    font-size: 16px;
    font-family: var(--fontface-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontface-heading);
}

/* Icons */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url("fonts/MaterialSymbolsOutlined.woff2") format("woff");
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: bottom;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}